body {
  background-color: @mild-gray;
}

.btn-default {
  border-color: #aaa;
}

.highlight {
  background: @mild-gray;
}

.panel {
  background: @milder-gray;
}
.panel-default {
  border-color: #aaa;
}
.panel-default>.panel-heading {
  background-color: @mild-gray;
  border-color: #aaa;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: @mild-gray;
}


